<template>
  <v-carousel class="coffee-news container" hide-delimiters>
    <v-carousel-item
      class="coffee-news-item"
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
    >
      <div class="coffee-news-menu">
        <div class="coffee-news__editorial">
          <v-img style="margin-right: 8px" src="/pencil.svg" max-width="20" max-height="20"></v-img>
          <span class="coffee-news__edit" style="text-transform: uppercase; color: #FFFFFF">Редакция</span>
        </div>
        <div class="coffee-news__city"></div>
        <span class="coffee-news__city-title" style="text-transform: uppercase; color: #FFFFFF">НОВОСИБИРСК</span>
      </div>
      <button class="coffee-news__read">Читать</button>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        src: '/coffee_news.jpg',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/sky.jpg',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/bird.jpg',
      },
      {
        src: 'https://cdn.vuetifyjs.com/images/carousel/planet.jpg',
      },
    ],
  }),
}
</script>

<style lang="scss" scoped>
.coffee-news {
  max-width: 1440px;
  min-height: 660px !important;
  border-bottom: 16px solid black;
}

.coffee-news-menu {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}

.coffee-news {
  position: relative;

  &__editorial {
    position: absolute;
    content: "";
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;

    &:hover {
      opacity: .6;
    }
  }

  &__read {
    color: #FFFFFF;
    background: #5083F3;
    border-radius: 8px;
    position: absolute;
    padding: 12px 40px;
    content: "";
    top: 50%;
    right: 46%;

    &:hover {
      opacity: .6;
    }
  }
}

.coffee-news-item {
  .v-window__prev {
    right: 0 !important;
  }
}

.coffee-news__city-title:hover {
  opacity: 0.6;
}

.v-window__prev, .v-window__next {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  position: absolute;
  margin: 0 16px;
  right: 0;
  top: calc(50% - 20px);
  z-index: 1;
}
</style>
