<template>
  <div class="footer">
    <ul class="footer-list">
      <li class="footer-list__item">
        <v-img class="" src="/logo-footer.svg" max-width="96" max-height="30"></v-img>
      </li>
      <li class="footer-list__item">
        <ul class="footer-list__item-links">
          <li>О редакции</li>
          <li>Популярное</li>
          <li>База контактов</li>
          <li>Новости</li>
          <li>Пользовательское соглашение</li>
        </ul>
      </li>
      <li class="footer-list__item">
        <p style="width: 432px; height: 140px; color: #FFFFFF; font-size: 12px; line-height: 20px">© ООО «СИБИРЬ РАБОТАЕТ», 2022. Сообщения и материалы сетевого издания «СИБИРЬ РАБОТАЕТ» (зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор) 03.12.2022 за номером ЭЛ №ФС77-82385) сопровождаются пометкой «СИБИРЬ РАБОТАЕТ». Отдельные публикации могут содержать информацию, не предназначенную для пользователей до 18 лет.</p>
      </li>
      <li class="footer-list__item-society">
        <v-btn style="margin-bottom: 72px; color: #FFFFFF; background-color: #5083F3; border-radius: 8px; width: 190px; height: 50px;">Написать нам</v-btn>
        <div class="footer-list__item-society-img"></div>
      </li>
    </ul>
    <div class="footer-made">
      <v-img class="" src="/made_alente.svg" max-width="180" max-height="20.5"></v-img>
      <v-img class="" src="/heart.svg" max-width="15" max-height="13.5"></v-img>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({}),
}
</script>

<style lang="scss" scoped>
.footer {
  width: 1440px;
  position: relative;
  margin: 0 auto;
  height: 352px;
  padding: 52px 80px 0 80px;
  background-color: #000000;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.footer-list__item {
  margin-right: 121px;
}

.footer-list__item-links {
  width: 205px;
  color: #FFFFFF;
  list-style: none;
  & li {
    margin-bottom: 20px;
    &:hover {
      opacity: .6;
    }
  }
}

.footer-made {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background-color: #171D25;
  width: 1440px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list__item-society {
  position: relative;
}

.footer-list__item-society-img {
  position: absolute;
  content: "";
  width: 237px;
  height: 73px;
  left: -45px;
  background-image: url("/society.png");
}
</style>
