<template>
  <div class="header container">
    <v-img class="header-burger" src="/burger.svg" max-width="24" max-height="24"></v-img>
    <v-img class="header-logo" src="/logo.svg" max-width="282" max-height="28"></v-img>
    <v-img class="header-search" src="/search.svg" max-width="24" max-height="24"></v-img>
  </div>
</template>

<script>
export default {
  data: () => ({}),
}
</script>

<style lang="scss" scoped>
.header {
  max-width: 1440px;
  //margin: 0 auto;
  height: 96px;
  display: flex;
  padding: 34px 80px 34px 80px;
  align-items: center;
  justify-content: center;
  border-bottom: 16px solid black;
}

.header-burger {
  margin-right: 475px;
}

.header-logo {
  margin-right: 475px;
}

.header-burger,
.header-logo,
.header-search {
  &:hover {
    opacity: .6;
  }
}

//@media screen and (max-width: 600px) {
//  .header {
//    display: none
//  }
//}
</style>
