<template>
  <div class="news">
    <div class="news-content">
      <ul class="news-item">
        <li class="news-item__head">
          <v-img style="margin-right: 8px" src="/vector-blue.svg" max-width="14" max-height="16"></v-img>
          <span style="color: #5083F3; text-transform: uppercase">Индекс городов</span>
        </li>
        <li class="news-item__title">
          <p style="margin-bottom: 8px">Рейтинг горнолыжных курортов Сибири</p>
          <span style="margin-bottom: 17px; line-height: 24px;">Когда речь заходит о горных лыжах, сразу же вспоминаются Альпы, Домбай, Уральские горы. Но, оказывается, и в Сибири есть знаменитые курорты, где можно заняться этим видом спорта.</span>
        </li>
        <li class="news-item__city">
          <span style="font-size: 12px; color: #B4C0CF; margin-right: 20px">ОМСК</span>
          <span style="font-size: 14px; color: #B4C0CF; margin-right: 322px">Татьяна Боброва</span>
          <div class="city-options">
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-pencil.svg" max-width="40"
                   max-height="40"></v-img>
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-play.svg" max-width="40"
                   max-height="40"></v-img>
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-headphones.svg" max-width="40"
                   max-height="40"></v-img>
          </div>
        </li>
      </ul>
      <ul class="news-item">
        <li class="news-item__head">
          <v-img style="margin-right: 10px;" src="/review.svg" max-width="18" max-height="17"></v-img>
          <p>РЕЦЕНЗИЯ</p>
        </li>
        <li>
          <v-img style="margin-bottom: 8px" src="/review.jpg" max-width="630" max-height="330"></v-img>
          <p style="font-size: 24px; font-weight: 700">Урбанист из Новосибирска про 5 ключевых<br> проблем Абакана</p>
        </li>
        <li class="news-item__city">
          <span style="font-size: 12px; color: #B4C0CF; margin-right: 20px">АБАКАН</span>
          <span style="font-size: 14px; color: #B4C0CF; margin-right: 353px">Полина Замятина</span>
          <div class="city-options">
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-pencil.svg" max-width="40"
                   max-height="40"></v-img>
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-play.svg" max-width="40"
                   max-height="40"></v-img>
          </div>
        </li>
      </ul>
      <ul class="news-item">
        <v-img style="margin-bottom: 8px" src="/programmist.jpg" max-width="630" max-height="240"></v-img>
        <li class="news-item__head">
          <p style="font-size: 24px; font-weight: 700">Эко-активисты. Визитки на 6 волонтёрских организаций Сибири</p>
        </li>
        <li class="news-item__city">
          <span style="font-size: 12px; color: #B4C0CF; margin-right: 20px">НОВОСИБИРСК</span>
          <span style="font-size: 14px; color: #B4C0CF; margin-right: 353px">Полина Замятина</span>
          <div class="city-options">
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-pencil.svg" max-width="40"
                   max-height="40"></v-img>
          </div>
        </li>
      </ul>
      <ul class="news-item">
        <li class="news-item__head">
          <v-img style="margin-right: 10px;" src="/review.svg" max-width="18" max-height="17"></v-img>
          <p>РЕЦЕНЗИЯ</p>
        </li>
        <li>
          <v-img style="margin-bottom: 8px" src="/video-travel.jpg" max-width="630" max-height="350"></v-img>
        </li>
        <li class="news-item__city">
          <span style="font-size: 12px; color: #B4C0CF; margin-right: 20px">АБАКАН</span>
          <span style="font-size: 14px; color: #B4C0CF; margin-right: 353px">Полина Замятина</span>
          <div class="city-options">
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-pencil.svg" max-width="40"
                   max-height="40"></v-img>
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-play.svg" max-width="40"
                   max-height="40"></v-img>
          </div>
        </li>
      </ul>
      <ul class="news-item">
        <li class="news-item__head">
          <v-img style="margin-right: 8px" src="/vector-blue.svg" max-width="14" max-height="16"></v-img>
          <span style="color: #5083F3; text-transform: uppercase; font-size: 12px">Индекс городов</span>
        </li>
        <li class="news-item__title">
          <p style="margin-bottom: 8px; font-size: 24px; font-weight: 700;">«14 бизнес-ниш, которые можно занять в<br>
            Красноярске прямо сейчас. Взгляд из столицы»</p>
          <span style="margin-bottom: 17px; font-size: 16px">Мы собрали в этой статье идеи, которые останутся востребованы в 2022 году и не потребуют миллионных вложений.
</span>
        </li>
        <li class="news-item__city">
          <span style="font-size: 12px; color: #B4C0CF; margin-right: 20px">АБАКАН</span>
          <span style="font-size: 14px; color: #B4C0CF; margin-right: 362px">Игнат Маркелов</span>
          <div class="city-options">
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-pencil.svg" max-width="40"
                   max-height="40"></v-img>
            <v-img class="city-options__item" style="margin-right: 10px" src="/news-headphones.svg" max-width="40"
                   max-height="40"></v-img>
          </div>
        </li>
      </ul>
      <v-btn class="news-item__button">Показать еще</v-btn>
    </div>
    <div class="news-info">
      <ul class="news-info__links">
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_1.svg" max-width="16" max-height="16"></v-img>
          <span>Герой с обложки</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_2.svg" max-width="16" max-height="16"></v-img>
          <span>Топ</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_3.svg" max-width="16" max-height="16"></v-img>
          <span>Экскурсия</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_4.svg" max-width="16" max-height="16"></v-img>
          <span>Рабочее место</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_5.svg" max-width="16" max-height="16"></v-img>
          <span>5 экспертов</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_6.svg" max-width="16" max-height="16"></v-img>
          <span>Кейс</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_7.svg" max-width="16" max-height="16"></v-img>
          <span>Трендсеттер недели</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_8.svg" max-width="16" max-height="16"></v-img>
          <span>10 новых проектов недели</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_9.svg" max-width="16" max-height="16"></v-img>
          <span>Рецензия</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_10.svg" max-width="16" max-height="16"></v-img>
          <span>Корпоративный выход</span>
        </li>
        <li class="news-info__links-item">
          <v-img style="margin-right: 12px" src="/rubrics_11.svg" max-width="16" max-height="16"></v-img>
          <span>Индекс городов</span>
        </li>
      </ul>
      <div class="news-info__heroes">
        <v-img style="" src="/heroes.png" max-width="305" max-height="200"></v-img>
      </div>
      <div class="news-info__blog">
        <ul class="news-info__blog-list">
          <li class="news-info__blog-item">
            <h4 style="margin-right: 246px;">БЛОГ</h4>
            <v-img style="" src="/stroke.svg" max-width="11.5" max-height="6.5"></v-img>
          </li>
          <li class="news-info__blog-item">
            <p>В РФ могут возобновить выпуск бумажных десятирублевок вместо</p>
          </li>
          <li class="news-info__blog-item">
            <v-img style="margin-bottom: 8px;" src="/estakada.png" max-width="305" max-height="200"></v-img>
            <p>НОВОСИБИРСК: Смонтирован первый пролет эстакады вблизи Кольцово</p>
          </li>
          <li class="news-info__blog-item"><p>ТЮМЕНЬ: ресторатор Денис Иванов открывает #СибирьСибирь</p></li>
          <li class="news-info__blog-item"><p>Иркутская область вошла в топ-10 регионов по росту выдачи ипотеки за
            июнь</p></li>
          <li class="news-info__blog-item"><p>COFFEESuperJob: каждый восьмой считает своей главной ошибкой
            неправильный...</p></li>
          <li class="news-info__blog-item"><p>В 15 городах России состоится фестиваль документального кино Beat
            Weekend</p></li>
          <div class="news-info__blog-ad">
            <v-img src="/ad.png" max-width="304" max-height="380"></v-img>
          </div>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({}),
}
</script>

<style lang="scss" scoped>
.news {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 41px 188px 41px 188px;
  &:before {
    position: absolute;
    content: "";
    background-image: url("/btn_up.svg");
    width: 50px;
    height: 50px;
    bottom: 41px;
    right: 200px;
    &:hover {
      opacity: .6;
    }
  }
}

.news-content {
  width: 630px;
  margin-right: 129px;
}

.news-item__button {
  border: 1px solid #5083F3;
  width: 630px;
  height: 50px;
  border-radius: 8px;
  font-size: 16px;
  color: #5083F3;
  text-transform: none;
}

.news-item {
  min-height: 203px;
  display: flex;
  flex-direction: column;
  list-style: none;

  &:hover p {
    opacity: .6;
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__city {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 49px;

    &:before {
      position: absolute;
      content: "";
      bottom: -18px;
      left: 0;
      width: 200px;
      border-bottom: 1px solid #DCE2EA;
    }
  }
}

.city-options {
  display: flex;

  &__item:hover {
    opacity: .6;
  }
}

.news-info {
  width: 305px;
}

.news-info__links {
  list-style: none;
  margin-bottom: 24px;
}

.news-info__heroes {
  margin-bottom: 26px;
}

.news-info__heroes:hover {
  opacity: .6;
}

.news-info__links-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  span {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
  }

  &:hover {
    opacity: .6;
  }
}

.news-info__blog-ad:hover {
  opacity: .6;
}

.news-info__blog-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  //margin-bottom: 24px;
}

.news-info__blog-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 18px;

  & p {
    line-height: 24px;
    font-size: 16px;

    &:before {
      position: absolute;
      content: "";
      bottom: -9px;
      left: 0;
      width: 200px;
      border-bottom: 1px solid #D9D9D9;
    }
  }

  &:hover {
    opacity: .6;
  }
}
</style>
