<template>
  <div class="teaser container">
    <div class="teaser-news">
      <ul class="teaser-news-list">
        <li class="teaser-news-list__item">
          <p style="font-size: 24px"><strong>Как кофейня из Омска стала федеральной сетью.</strong> История успеха
            Skuratov Сoffee в интервью с ресторатором Виктором Скуратовым</p>
          <div class="news-item">
            <v-img style="margin-right: 8px" src="/vector.svg" max-width="14" max-height="16"></v-img>
            <span style="margin-right: 120px">Индекс городов</span>
            <v-img src="/news-headphones.svg" max-width="40" max-height="40"></v-img>
          </div>
        </li>
        <li class="teaser-news-list__item">
          <h2 style="color: #5083F3">Состояние медицины.</h2>
          <p style="font-size: 24px">Нелицеприятный разбор частных клиник Братска. Взгляд корреспондента из
            Иркутска»</p>
          <div class="news-item">
            <v-img style="margin-right: 8px" src="/five.svg" max-width="14" max-height="16"></v-img>
            <span style="margin-right: 131px">5 экспертов</span>
            <v-img src="/add.svg" max-width="20" max-height="22"></v-img>
          </div>
        </li>
      </ul>
    </div>
    <div class="teaser-case">
      <v-img style="margin-bottom: 20px" src="/imj.jpg" max-width="526" max-height="380"></v-img>
      <p style="font-size: 24px">В Иркутской области утвердили почетный знак «Отцовская». Строительство медучреждения в
        мкр. Покровский</p>
    </div>
    <div class="teaser-news-feed">
      <ul class="teaser-news-feed__list">
        <h3 style="display: flex; align-items: center; font-size: 16px; text-transform: uppercase; margin-bottom: 18px">
          Лента новостей
          <v-img style="margin-left: 101px;" src="/stroke.svg" max-width="11.5" max-height="6.5"></v-img>
        </h3>
        <li class="teaser-news-feed__list-item">В РФ могут возобновить выпуск бумажных десятирублевок...</li>
        <li class="teaser-news-feed__list-item">НОВОСИБИРСК: Смонтирован первый пролет эстакады вблизи</li>
        <li class="teaser-news-feed__list-item">ТЮМЕНЬ: ресторатор Денис Иванов открывает...</li>
        <li class="teaser-news-feed__list-item">Иркутская область вошла в топ-10 регионов по росту...</li>
        <li class="teaser-news-feed__list-item">COFFEESuperJob: каждый восьмой считает своей главной...</li>
        <li class="teaser-news-feed__list-item">В РФ могут возобновить выпуск бумажных десятирублевок...</li>
        <li class="teaser-news-feed__list-item">НОВОСИБИРСК: Смонтирован первый пролет эстакады вблизи</li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({}),
}
</script>

<style lang="scss" scoped>
.teaser {
  max-width: 1440px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding: 30px 80px;
  border-bottom: 16px solid black;
}

.teaser-news-list {
  list-style: none;
  margin-right: 72px;

  &__item {
    position: relative;
    font-style: normal;
    line-height: 34px;
    max-width: 305px;
    min-height: 210px;
    margin-bottom: 17px;

    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 200px;
      border-bottom: 1px solid #DCE2EA;
    }
  }

  &__item:hover {
    opacity: .6;
  }
}

.news-item {
  text-transform: uppercase;
  color: #B4C0CF;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.teaser-case {
  width: 526px;
  margin-right: 72px;

  &:hover {
    opacity: .6;
  }
}

.teaser-news-feed {
  background: #EEF0F3;
  padding: 22px 20px;
  width: 305px;
  &__list {
    list-style: none;
  }

  &__list-item {
    position: relative;
    margin-bottom: 16px;

    &:hover {
      color: #5083F3;

      &:before {
        border-bottom: 1px solid #5083F3;
      }
    }

    &:before {
      position: absolute;
      content: "";
      bottom: -7px;
      left: 0;
      width: 200px;
      border-bottom: 1px solid #D9D9D9;
    }
  }
}
</style>
