<template>
  <div>
    <HeaderComponent/>
    <TeaserComponent/>
    <CoffeeNewsComponent/>
    <NewsComponent/>
    <FooterComponent/>
  </div>
</template>

<script>
export default {
  components: {
    HeaderComponent,
    TeaserComponent,
    CoffeeNewsComponent,
    NewsComponent,
    FooterComponent,
  },
  data: () => ({}),
};
import HeaderComponent from "~/components/HeaderComponent";
import TeaserComponent from "~/components/TeaserComponent";
import CoffeeNewsComponent from "~/components/CoffeeNewsComponent";
import NewsComponent from "~/components/NewsComponent";
import FooterComponent from "~/components/FooterComponent";
</script>

<style>

</style>
